components:
  schemas:
    value:
      required:
      - text
      type: object
      properties:
        text:
          type: string
    CFValue:
      required: []
      type: object
      properties:
        number:
          type: string
  securitySchemes:
    sec1:
      _id: 592da6a493a38d2500465efe
      in: query
      name: token
      type: apiKey
      x-default: yourApiToken
    sec0:
      _id: 592da6a493a38d2500465eff
      in: query
      name: key
      type: apiKey
      x-default: yourApiKey
x-samples-languages:
- curl
- node
- ruby
- javascript
- python
openapi: 3.0.0
x-samples-enabled: true
x-explorer-enabled: true
servers:
- url: https://api.trello.com/1
security:
- sec1: []
  sec0: []
info:
  version: 0.0.1
  title: Trello REST API
paths:
  /checklists/{id}/checkItems/{idCheckItem}:
    get:
      summary: /checklists/{id}/checkItems/{idCheckItem}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      - required: false
        schema:
          default: name, nameData, pos, state
          type: string
        in: query
        name: fields
        description: ! 'One of: `all`, `name`, `nameData`, `pos`, `state`, `type`.'
      - required: true
        schema:
          type: string
        in: path
        name: idCheckItem
        description: ID of the check item to retrieve.
      _path: /checklists/{id}/checkItems/{idCheckItem}
      operationId: getChecklistsCheckitemsByCheckitem
      description: ''
      requestBody: null
      tags: []
      deprecated: false
    delete:
      summary: /checklists/{id}/checkItems/{idCheckItem}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      - required: true
        schema:
          type: string
        in: path
        name: idCheckItem
        description: ID of the checklist item to delete.
      _path: /checklists/{id}/checkItems/{idCheckItem}
      operationId: deleteChecklistsCheckitemsByCheckitem
      description: Remove an item from a checklist
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /checklists/{id}/checkItems/{idCheckItem}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      - required: true
        schema:
          format: int32
          type: integer
        in: query
        name: pos
        description: Position to move check item to.
      - required: true
        schema:
          type: string
        in: path
        name: idCheckItem
        description: ID of the check item to retrieve.
      _path: /checklists/{id}/checkItems/{idCheckItem}
      operationId: putChecklistsCheckitemsByCheckitem
      description: Update check item.
      requestBody: null
      tags: []
      deprecated: false
  /labels/{id}/color:
    put:
      summary: /labels/{id}/color
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the label
      - required: true
        schema:
          type: string
        in: query
        name: value
        description: ! 'The new color for the label. See: [fields](#label-object)
          for color options.'
      _path: /labels/{id}/color
      operationId: putLabelsColor
      description: Update the color of a label by ID.
      requestBody: null
      tags: []
      deprecated: false
  /checklists/{id}/cards:
    get:
      summary: /checklists/{id}/cards
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      _path: /checklists/{id}/cards
      operationId: getChecklistsCards
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/powerUps:
    post:
      summary: /boards/{id}/powerUps
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: query
        name: value
        description: ! 'The Power-Up to be enabled on the board. One of: `calendar`,
          `cardAging`, `recap`, `voting`.'
      _path: /boards/{id}/powerUps
      operationId: postBoardsPowerups
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/checklists:
    post:
      summary: /cards/{id}/checklists
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: false
        schema:
          type: string
        in: query
        name: name
        description: The name of the checklist
      - required: false
        schema:
          type: string
        in: query
        name: idChecklistSource
        description: The ID of a source checklist to copy into the new one
      - required: false
        schema:
          type: string
        in: query
        name: pos
        description: ! 'The position of the checklist on the card. One of: `top`,
          `bottom`, or a positive number.'
      _path: /cards/{id}/checklists
      operationId: postCardsChecklists
      description: Create a new checklist on a card
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /cards/{id}/checklists
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: checkItems
        description: ! '`all` or `none`'
      - required: false
        schema:
          default: name,nameData,pos,state
          type: string
        in: query
        name: checkItem_fields
        description: ! '`all` or a comma-separated list of: `name,nameData,pos,state,type`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: filter
        description: ! '`all` or `none`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of: `idBoard,idCard,name,pos`'
      _path: /cards/{id}/checklists
      operationId: getCardsChecklists
      description: Get the checklists on a card
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/memberships:
    get:
      summary: /boards/{id}/memberships
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: filter
        description: One of `admins`, `all`, `none`, `normal`
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: activity
        description: Works for premium organizations only.
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: orgMemberType
        description: Shows the type of member to the org the user is. For instance,
          an org admin will have a `orgMemberType` of `admin`.
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: member
        description: Determines whether to include a nester member object.
      - required: false
        schema:
          default: fullname,username
          type: string
        in: query
        name: member_fields
        description: ! 'Fields to show if `member=true`. Valid values: [nested member
          resource fields](https://developers.trello.com/v1.0/reference#members-nested-resource).'
      _path: /boards/{id}/memberships
      operationId: getBoardsMemberships
      description: Get information about the memberships users have to the board.
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/lists:
    post:
      summary: /boards/{id}/lists
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: query
        name: name
        description: The name of the list to be created. 1 to 16384 characters long.
      - required: false
        schema:
          default: top
          type: string
        in: query
        name: pos
        description: ! 'Determines the position of the list. Valid values: `top`,
          `bottom`, or a positive number.'
      _path: /boards/{id}/lists
      operationId: postBoardsLists
      description: ''
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /boards/{id}/lists
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: cards
        description: ! 'One of: `all`, `closed`, `none`, `open`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: card_fields
        description: ! '`all` or a comma-separated list of card [fields](#card-object)'
      - required: false
        schema:
          default: open
          type: string
        in: query
        name: filter
        description: One of `all`, `closed`, `none`, `open`
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of list [fields](#list-object)'
      _path: /boards/{id}/lists
      operationId: getBoardsLists
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/stickers/{idSticker}:
    get:
      summary: /cards/{id}/stickers/{idSticker}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idSticker
        description: The ID of the sticker
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of sticker [fields](ref:stickers)'
      _path: /cards/{id}/stickers/{idSticker}
      operationId: getCardsStickersBySticker
      description: Get a specific sticker on a card
      requestBody: null
      tags: []
      deprecated: false
    delete:
      summary: /cards/{id}/stickers/{idSticker}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idSticker
        description: The ID of the sticker to remove from the card
      _path: /cards/{id}/stickers/{idSticker}
      operationId: deleteCardsStickersBySticker
      description: Remove a sticker from the card
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /cards/{id}/stickers/{idSticker}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idSticker
        description: The ID of the sticker to update
      - required: false
        schema:
          format: float
          type: number
        in: query
        name: top
        description: ''
      - required: false
        schema:
          format: float
          type: number
        in: query
        name: left
        description: ''
      - required: false
        schema:
          format: int32
          type: integer
        in: query
        name: zIndex
        description: ''
      - required: false
        schema:
          format: float
          type: number
        in: query
        name: rotate
        description: ''
      _path: /cards/{id}/stickers/{idSticker}
      operationId: putCardsStickersBySticker
      description: Update a sticker on a card
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/checklists/{idChecklist}:
    delete:
      summary: /cards/{id}/checklists/{idChecklist}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idChecklist
        description: The ID of the checklist to delete
      _path: /cards/{id}/checklists/{idChecklist}
      operationId: deleteCardsChecklistsByChecklist
      description: Delete a checklist from a card
      requestBody: null
      tags: []
      deprecated: false
  /lists/{id}/closed:
    put:
      summary: /lists/{id}/closed
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the list
      - required: false
        schema:
          type: boolean
        in: query
        name: value
        description: Set to true to close (archive) the list
      _path: /lists/{id}/closed
      operationId: putListsClosed
      description: Archive or unarchive a list
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/plugins:
    get:
      summary: /boards/{id}/plugins
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      - required: false
        schema:
          default: enabled
          type: string
        in: query
        name: filter
        description: ! 'One of: `enabled` or `available`'
      _path: /boards/{id}/plugins
      operationId: getBoardsPlugins
      description: List the Power-Ups for a board
      requestBody: null
      tags: []
      deprecated: false
  /lists/{id}/board:
    get:
      summary: /lists/{id}/board
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscribed:
                    type: boolean
                  idTags:
                    items: {}
                    type: array
                  closed:
                    type: boolean
                  invitations:
                    items: {}
                    type: array
                  invited:
                    type: boolean
                  pinned:
                    type: boolean
                  url:
                    type: string
                  powerUps:
                    items: {}
                    type: array
                  datePluginDisable:
                    nullable: true
                  name:
                    type: string
                  starred:
                    type: boolean
                  shortLink:
                    type: string
                  prefs:
                    type: object
                    properties:
                      invitations:
                        type: string
                      cardCovers:
                        type: boolean
                      canBePublic:
                        type: boolean
                      voting:
                        type: string
                      permissionLevel:
                        type: string
                      selfJoin:
                        type: boolean
                      canBeOrg:
                        type: boolean
                      backgroundImage:
                        type: string
                      backgroundBrightness:
                        type: string
                      backgroundTile:
                        type: boolean
                      cardAging:
                        type: string
                      calendarFeedEnabled:
                        type: boolean
                      backgroundImageScaled:
                        items:
                          type: object
                          properties:
                            height:
                              type: integer
                            url:
                              type: string
                            width:
                              type: integer
                        type: array
                      canInvite:
                        type: boolean
                      comments:
                        type: string
                      background:
                        type: string
                      canBePrivate:
                        type: boolean
                  labelNames:
                    type: object
                    properties:
                      pink:
                        type: string
                      red:
                        type: string
                      purple:
                        type: string
                      yellow:
                        type: string
                      black:
                        type: string
                      lime:
                        type: string
                      orange:
                        type: string
                      green:
                        type: string
                      blue:
                        type: string
                      sky:
                        type: string
                  id:
                    type: string
                  dateLastView:
                    format: date-time
                    type: string
                  dateLastActivity:
                    format: date-time
                    type: string
                  idOrganization:
                    type: string
                  descData:
                    nullable: true
                  memberships:
                    items:
                      type: object
                      properties:
                        idMember:
                          type: string
                        memberType:
                          type: string
                        deactivated:
                          type: boolean
                        id:
                          type: string
                        unconfirmed:
                          type: boolean
                    type: array
                  desc:
                    type: string
                  shortUrl:
                    type: string
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the list
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of board [fields](#board-object)'
      _path: /lists/{id}/board
      operationId: getListsBoard
      description: Get the board a list is on
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/members:
    get:
      summary: /organizations/{id}/members
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      _path: /organizations/{id}/members
      operationId: getOrganizationsMembers
      description: List the members in a team
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /organizations/{id}/members
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: query
        name: email
        description: An email address
      - required: true
        schema:
          type: string
        in: query
        name: fullName
        description: Name for the member, at least 1 character not beginning or ending
          with a space
      - required: false
        schema:
          default: normal
          type: string
        in: query
        name: type
        description: ! 'One of: `admin`, `normal`'
      _path: /organizations/{id}/members
      operationId: putOrganizationsMembers
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/myPrefs/idEmailList:
    put:
      summary: /boards/{id}/myPrefs/idEmailList
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: query
        name: value
        description: The id of an email list.
      _path: /boards/{id}/myPrefs/idEmailList
      operationId: putBoardsMyprefsIdemaillist
      description: Update an existing board by id
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/myPrefs/showSidebarBoardActions:
    put:
      summary: /boards/{id}/myPrefs/showSidebarBoardActions
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: boolean
        in: query
        name: value
        description: Determines whether to show the sidebar board actions.
      _path: /boards/{id}/myPrefs/showSidebarBoardActions
      operationId: putBoardsMyprefsShowsidebarboardactions
      description: Update an existing board by id
      requestBody: null
      tags: []
      deprecated: false
  /card/{idCard}/customField/{idCustomField}/item:
    put:
      summary: /card/{idCard}/customField/{idCustomField}/item
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelType:
                    type: string
                  value:
                    type: object
                    properties:
                      text:
                        type: string
                  idCustomField:
                    type: string
                  idModel:
                    type: string
                  id:
                    type: string
          description: OK
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: idCard
        description: ID of the card that the Custom Field value should be set/updated
          for
      - required: true
        schema:
          type: string
        in: path
        name: idCustomField
        description: ID of the Custom Field on the card.
      - required: true
        schema:
          type: string
        in: query
        name: value
        description: An object containing the key and value to set for the card's
          Custom Field value. The key used to set the value should match the type
          of Custom Field defined.
      _path: /card/{idCard}/customField/{idCustomField}/item
      operationId: putCardCustomfieldItemByCardCustomfield
      description: Setting, updating, and removing the value for a Custom Field on
        a card.
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/memberships/{idMembership}:
    put:
      summary: /boards/{id}/memberships/{idMembership}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: path
        name: idMembership
        description: The id of a membership that should be added to this board.
      - required: true
        schema:
          type: string
        in: query
        name: type
        description: ! 'One of: admin, normal, observer. Determines the type of member
          that this membership will be to this board.'
      - required: false
        schema:
          default: fullName, username
          type: string
        in: query
        name: member_fields
        description: ! 'Valid values: all, avatarHash, bio, bioData, confirmed, fullName,
          idPremOrgsAdmin, initials, memberType, products, status, url, username'
      _path: /boards/{id}/memberships/{idMembership}
      operationId: putBoardsMembershipsByMembership
      description: Update an existing board by id
      requestBody: null
      tags: []
      deprecated: false
  /notifications/{id}/member:
    get:
      summary: /notifications/{id}/member
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the notification
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of member [fields](ref:member-object)'
      _path: /notifications/{id}/member
      operationId: getNotificationsMember
      description: Get the member (not the creator) a notification is about
      requestBody: null
      tags: []
      deprecated: false
  /boards/{boardId}/actions:
    get:
      summary: /boards/{id}/actions
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: boardId
        description: ''
      _path: /boards/{boardId}/actions
      operationId: getBoardsActions
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/actions:
    get:
      summary: /members/{id}/actions
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      _path: /members/{id}/actions
      operationId: getMembersActions
      description: List the actions for a member
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/checklists:
    post:
      summary: /boards/{id}/checklists
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: query
        name: name
        description: The name of the checklist to be created. 1 to 16384 characters
          long.
      _path: /boards/{id}/checklists
      operationId: postBoardsChecklists
      description: Create a new checklist.
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /boards/{id}/checklists
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      _path: /boards/{id}/checklists
      operationId: getBoardsChecklists
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /labels:
    post:
      summary: /labels
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: query
        name: name
        description: Name for the label
      - required: true
        schema:
          type: string
        in: query
        name: color
        description: The color for the label. See [fields](#label-object) for color
          options.
      - required: true
        schema:
          type: string
        in: query
        name: idBoard
        description: The ID of the board to create the label on.
      _path: /labels
      operationId: postLabels
      description: Create a new label on a board.
      requestBody: null
      tags: []
      deprecated: false
  /lists/{id}/cards:
    get:
      summary: /lists/{id}/cards
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the list
      _path: /lists/{id}/cards
      operationId: getListsCards
      description: List the cards in a list
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/cards:
    get:
      summary: /boards/{id}/cards
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ''
      _path: /boards/{id}/cards
      operationId: getBoardsCards
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/savedSearches:
    post:
      summary: /members/{id}/savedSearches
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: query
        name: name
        description: The name for the saved search
      - required: true
        schema:
          type: string
        in: query
        name: query
        description: The search query
      - required: true
        schema:
          type: string
        in: query
        name: pos
        description: The position of the saved search. `top`, `bottom`, or a positive
          float.
      _path: /members/{id}/savedSearches
      operationId: postMembersSavedsearches
      description: Create a new saved search
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /members/{id}/savedSearches
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      _path: /members/{id}/savedSearches
      operationId: getMembersSavedsearches
      description: List the saved searches of a member
      requestBody: null
      tags: []
      deprecated: false
  /tokens/{token}/:
    delete:
      summary: /tokens/{token}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  origin:
                    type: string
                  idApplication:
                    type: string
                  _id:
                    type: string
                  idMember:
                    type: string
                  identifier:
                    type: string
                  token:
                    type: string
                  dateCreated:
                    format: date-time
                    type: string
                  dateExpires:
                    format: date-time
                    type: string
                  permissions:
                    items:
                      type: object
                      properties:
                        modelType:
                          type: string
                        read:
                          type: boolean
                        _id:
                          type: string
                        write:
                          type: boolean
                        idModel:
                          type: string
                    type: array
          description: OK
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: token
        description: ''
      _path: /tokens/{token}/
      operationId: deleteTokens
      description: Delete a token.
      requestBody: null
      tags: []
      deprecated: false
  /enterprises/{id}/transferrable/organization/{idOrganization}:
    get:
      summary: /enterprises/{id}/transferrable/organization/{idOrganization}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of the enterprise to retrieve.
      - required: true
        schema:
          type: string
        in: path
        name: idOrganization
        description: An ID of an Organization resource.
      _path: /enterprises/{id}/transferrable/organization/{idOrganization}
      operationId: getEnterprisesTransferrableOrganizationByOrganization
      description: Get whether an organization can be transferred to an enterprise.
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/organizationsInvited:
    get:
      summary: /members/{id}/organizationsInvited
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of organization [fields](ref:organization-object)'
      _path: /members/{id}/organizationsInvited
      operationId: getMembersOrganizationsinvited
      description: Get a member's teams they have been invited to
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/cards/{idCard}:
    get:
      summary: /boards/{id}/cards/{cardId}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    nullable: true
                  subscribed:
                    type: boolean
                  due:
                    nullable: true
                  checkItemStates:
                    items: {}
                    type: array
                  closed:
                    type: boolean
                  idMembersVoted:
                    items: {}
                    type: array
                  idLabels:
                    items: {}
                    type: array
                  url:
                    type: string
                  badges:
                    type: object
                    properties:
                      subscribed:
                        type: boolean
                      due:
                        nullable: true
                      checkItemsChecked:
                        type: integer
                      attachments:
                        type: integer
                      checkItems:
                        type: integer
                      votes:
                        type: integer
                      viewingMemberVoted:
                        type: boolean
                      fogbugz:
                        type: string
                      dueComplete:
                        type: boolean
                      comments:
                        type: integer
                      description:
                        type: boolean
                  pos:
                    type: number
                  name:
                    type: string
                  idList:
                    type: string
                  idShort:
                    type: integer
                  idBoard:
                    type: string
                  shortLink:
                    type: string
                  idChecklists:
                    items: {}
                    type: array
                  id:
                    type: string
                  labels:
                    items: {}
                    type: array
                  dueComplete:
                    type: boolean
                  dateLastActivity:
                    format: date-time
                    type: string
                  idMembers:
                    items: {}
                    type: array
                  manualCoverAttachment:
                    type: boolean
                  descData:
                    nullable: true
                  desc:
                    type: string
                  shortUrl:
                    type: string
                  idAttachmentCover:
                    nullable: true
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      - required: true
        schema:
          type: string
        in: path
        name: idCard
        description: The id the card to retrieve.
      _path: /boards/{id}/cards/{idCard}
      operationId: getBoardsCardsByCard
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /notifications/all/read:
    post:
      summary: /notifications/all/read
      _method: post
      parameters: []
      _path: /notifications/all/read
      operationId: postNotificationsAllRead
      description: Mark all notifications as read
      requestBody: null
      tags: []
      deprecated: false
  /lists/{id}/idBoard:
    put:
      summary: /lists/{id}/idBoard
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the list
      - required: false
        schema:
          type: string
        in: query
        name: value
        description: The ID of the board to move the list to
      _path: /lists/{id}/idBoard
      operationId: putListsIdboard
      description: Move a list to a new board
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/members/{idMember}:
    delete:
      summary: /boards/{id}/members/{idMember}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The id, username, or organization name of the user to be removed
          from the board.
      _path: /boards/{id}/members/{idMember}
      operationId: deleteBoardsMembersByMember
      description: ''
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /boards/{id}/members/{idMember}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: string
        in: query
        name: type
        description: ! 'One of: admin, normal, observer. Determines the type of member
          this user will be on the board.'
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The id of the member to add to the board.
      _path: /boards/{id}/members/{idMember}
      operationId: putBoardsMembersByMember
      description: Add a member to the board.
      requestBody: null
      tags: []
      deprecated: false
  /boards/{boardId}/boardStars:
    get:
      summary: /boards/{boardId}/boardStars
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  boardStars:
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        pos:
                          type: integer
                        idBoard:
                          type: string
                    type: array
                  id:
                    type: string
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: boardId
        description: ''
      - required: true
        schema:
          default: mine
          type: string
        in: query
        name: filter
        description: ! 'Valid values: mine, none'
      _path: /boards/{boardId}/boardStars
      operationId: getBoardsBoardstars
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/boardStars:
    post:
      summary: /members/{id}/boardStars
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: query
        name: idBoard
        description: The ID of the board to star
      - required: true
        schema:
          type: string
        in: query
        name: pos
        description: The position of the newly starred board. `top`, `bottom`, or
          a positive float.
      _path: /members/{id}/boardStars
      operationId: postMembersBoardstars
      description: Star a new board
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /members/{id}/boardStars
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      _path: /members/{id}/boardStars
      operationId: getMembersBoardstars
      description: List a member's board stars
      requestBody: null
      tags: []
      deprecated: false
  /actions/{id}/organization:
    get:
      summary: /actions/{id}/organization
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the action
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of organization [fields](ref:organization-object)'
      _path: /actions/{id}/organization
      operationId: getActionsOrganization
      description: Get the organization of an action
      requestBody: null
      tags: []
      deprecated: false
  /enterprises/{id}/tokens:
    post:
      summary: /enterprises/{id}/tokens
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of the enterprise to retrieve.
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: expiration
        description: ! 'One of: `1hour`, `1day`, `30days`, `never`'
      _path: /enterprises/{id}/tokens
      operationId: postEnterprisesTokens
      description: Generate an auth token for an enterprise.
      requestBody: null
      tags: []
      deprecated: false
  /actions/{id}/{field}:
    get:
      summary: /actions/{id}/{field}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the action
      - required: true
        schema:
          type: string
        in: path
        name: field
        description: An action [field](ref:action-object)
      _path: /actions/{id}/{field}
      operationId: getActionsByField
      description: Get a specific property of an action
      requestBody: null
      tags: []
      deprecated: false
  /tokens/{token}/webhooks/{idWebhook}:
    get:
      summary: /tokens/{token}/webhooks/{idWebhook}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  callbackURL:
                    type: string
                  active:
                    type: boolean
                  idModel:
                    type: string
                  id:
                    type: string
                  description:
                    type: string
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: token
        description: ''
      - required: true
        schema:
          type: string
        in: path
        name: idWebhook
        description: ID of the [Webhooks](ref:webhooks) to retrieve.
      _path: /tokens/{token}/webhooks/{idWebhook}
      operationId: getTokensWebhooksByTokenWebhook
      description: Retrieve a webhook created with a token.
      requestBody: null
      tags: []
      deprecated: false
    delete:
      summary: /tokens/{token}/webhooks/{idWebhook}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  _value:
                    nullable: true
          description: OK
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: token
        description: ''
      - required: true
        schema:
          type: string
        in: path
        name: idWebhook
        description: ID of the [webhook](ref:webhooks) to delete.
      _path: /tokens/{token}/webhooks/{idWebhook}
      operationId: deleteTokensWebhooksByTokenWebhook
      description: Delete a webhook created with given token.
      requestBody: null
      tags: []
      deprecated: false
  /customFields:
    post:
      summary: /customFields
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelType:
                    type: string
                  display:
                    type: object
                    properties:
                      cardFront:
                        type: boolean
                  fieldGroup:
                    type: string
                  pos:
                    type: integer
                  name:
                    type: string
                  idModel:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
          description: OK
      _method: post
      parameters: []
      _path: /customFields
      operationId: postCustomfields
      description: Create a new Custom Field on a board.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - idModel
              - modelType
              - name
              - type
              - pos
              type: object
              properties:
                modelType:
                  type: string
                  description: The type of model that the Custom Field is being defined
                    on. This should always be `board`.
                display_cardFront:
                  type: boolean
                  description: Whether this custom field should be shown on the front
                    of cards
                pos:
                  type: string
                  description: ''
                name:
                  type: string
                  description: ''
                idModel:
                  type: string
                  description: The ID of the model for which the Custom Field is being
                    defined. This should always be the ID of a board.
                options:
                  type: string
                  description: ''
                type:
                  type: string
                  description: ''
      tags: []
      deprecated: false
  /boards/{id}/boardPlugins:
    post:
      summary: /boards/{id}/boardPlugins
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      - required: false
        schema:
          type: string
        in: query
        name: idPlugin
        description: The ID of the Power-Up to enable
      _path: /boards/{id}/boardPlugins
      operationId: postBoardsBoardplugins
      description: Enable a Power-Up on a board
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /boards/{id}/boardPlugins
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the board
      _path: /boards/{id}/boardPlugins
      operationId: getBoardsBoardplugins
      description: Get the enabled Power-Ups on a board
      requestBody: null
      tags: []
      deprecated: false
  /tokens/{token}:
    get:
      summary: /tokens/{token}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  idMember:
                    type: string
                  identifier:
                    type: string
                  dateCreated:
                    format: date-time
                    type: string
                  dateExpires:
                    nullable: true
                  id:
                    type: string
                  permissions:
                    items:
                      type: object
                      properties:
                        modelType:
                          type: string
                        read:
                          type: boolean
                        write:
                          type: boolean
                        idModel:
                          type: string
                    type: array
                  webhooks:
                    items: {}
                    type: array
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: token
        description: ''
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of `dateCreated`, `dateExpires`,
          `idMember`, `identifier`, `permissions`'
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: webhooks
        description: Determines whether to include webhooks.
      _path: /tokens/{token}
      operationId: getTokens
      description: Retrieve information about a token.
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/oneTimeMessagesDismissed:
    post:
      summary: /members/{id}/oneTimeMessagesDismissed
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: query
        name: value
        description: The message to dismiss
      _path: /members/{id}/oneTimeMessagesDismissed
      operationId: postMembersOnetimemessagesdismissed
      description: Dismiss a message
      requestBody: null
      tags: []
      deprecated: false
  /enterprises/{id}:
    get:
      summary: /enterprises/{id}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ssoActivationFailed:
                    type: boolean
                  name:
                    type: string
                  userTypes:
                    type: object
                    properties:
                      none:
                        type: integer
                      all:
                        type: integer
                      collaborator:
                        type: integer
                      member:
                        type: integer
                      saml:
                        type: integer
                  prefs:
                    type: object
                    properties:
                      maxMembers:
                        nullable: true
                      ssoOnly:
                        type: boolean
                      signup:
                        type: object
                        properties:
                          banner:
                            type: string
                          confirmationHtml:
                            type: string
                          confirmation:
                            type: string
                          message:
                            type: string
                          messageHtml:
                            type: string
                          bannerHtml:
                            type: string
                      mandatoryTransferDate:
                        nullable: true
                  displayName:
                    type: string
                  id:
                    type: string
                  idOrganizations:
                    items:
                      type: string
                    type: array
                  products:
                    items:
                      type: integer
                    type: array
                  idMembers:
                    items:
                      type: string
                    type: array
                  idAdmins:
                    items:
                      type: string
                    type: array
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of the enterprise to retrieve.
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! 'Comma-separated list of: `id`, `name`, `displayName`, `prefs`,
          `ssoActivationFailed`, `idAdmins`, `idMembers` (Note that the members array
          returned will be paginated if `members` is ''normal'' or ''admins''. Pagination
          can be controlled with member_startIndex, etc, but the API response will
          not contain the total available result count or pagination status data.
          Read the SCIM documentation [here]() for more information on filtering),
          `idOrganizations`, `products`, `userTypes`, `idMembers`, `idOrganizations`'
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: members
        description: ! 'One of: `none`, `normal`, `admins`, `owners`, `all`'
      - required: false
        schema:
          default: avatarHash, fullName, initials, username
          type: string
        in: query
        name: member_fields
        description: ! 'One of: `avatarHash`, `fullName`, `initials`, `username`'
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: member_filter
        description: Pass a [SCIM-style query](https://developers.trello.com/v1.0/reference#section-parameters)
          to filter members. This takes precedence over the all/normal/admins value
          of members. If any of the member_* args are set, the member array will be
          paginated.
      - required: false
        schema:
          type: string
        in: query
        name: member_sort
        description: This parameter expects a [SCIM-style](https://developers.trello.com/v1.0/reference#section-parameters)
          sorting value prefixed by a `-` to sort descending. If no `-` is prefixed,
          it will be sorted ascending. Note that the members array returned will be
          paginated if `members` is 'normal' or 'admins'. Pagination can be controlled
          with member_startIndex, etc, but the API response will not contain the total
          available result count or pagination status data.
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: member_sortBy
        description: ! 'Deprecated: Please use member_sort. This parameter expects
          a [SCIM-style sorting value](https://developers.trello.com/v1.0/reference#section-parameters).
          Note that the members array returned will be paginated if `members` is `normal`
          or `admins`. Pagination can be controlled with `member_startIndex`, etc,
          and the API response''s header will contain the total count and pagination
          state.'
      - required: false
        schema:
          default: id
          type: string
        in: query
        name: member_sortOrder
        description: ! 'Deprecated: Please use member_sort. One of: `ascending`, `descending`,
          `asc`, `desc`'
      - required: false
        schema:
          default: '1'
          format: int32
          type: integer
        in: query
        name: member_startIndex
        description: Any integer between 0 and 100.
      - required: false
        schema:
          default: '10'
          format: int32
          type: integer
        in: query
        name: member_count
        description: 0 to 100
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: organizations
        description: ! 'One of: `none`, `members`, `public`, `all`'
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: organization_fields
        description: Any valid value that the [nested organization field resource]()
          accepts.
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: organization_paid_accounts
        description: ''
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: organization_memberships
        description: ! 'Comma-seperated list of: `me`, `normal`, `admin`, `active`,
          `deactivated`'
      _path: /enterprises/{id}
      operationId: getEnterprises
      description: Get an enterprise by its ID.
      requestBody: null
      tags: []
      deprecated: false
  /actions/{idAction}/reactions:
    post:
      summary: /actions/{idAction}/reactions
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: idAction
        description: The ID of the action
      _path: /actions/{idAction}/reactions
      operationId: postActionsReactions
      description: Adds a new reaction to an action
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shortName:
                  type: string
                  description: The primary `shortName` of the emoji to add. See [/emoji](#emoji)
                skinVariation:
                  type: string
                  description: The `skinVariation` of the emoji to add. See [/emoji](#emoji)
                native:
                  type: string
                  description: The emoji to add as a native unicode emoji. See [/emoji](#emoji)
                unified:
                  type: string
                  description: The `unified` value of the emoji to add. See [/emoji](#emoji)
      tags: []
      deprecated: false
    get:
      summary: /actions/{idAction}/reactions
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: idAction
        description: The ID of the action
      - required: false
        schema:
          default: true
          type: boolean
        in: query
        name: member
        description: Whether to load the member as a nested resource. See [Members
          Nested Resource](#members-nested-resource)
      - required: false
        schema:
          default: true
          type: boolean
        in: query
        name: emoji
        description: Whether to load the emoji as a nested resource.
      _path: /actions/{idAction}/reactions
      operationId: getActionsReactions
      description: List reactions for an action
      requestBody: null
      tags: []
      deprecated: false
  /enterprises/{id}/members/{idMember}:
    get:
      summary: /enterprises/{id}/members/{idMember}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of the enterprise to retrieve.
      - required: false
        schema:
          default: none
          type: string
        in: path
        name: idMember
        description: An ID of a member resource.
      - required: false
        schema:
          default: avatarHash, fullName, initials, username
          type: string
        in: query
        name: fields
        description: A comma separated list of any valid values that the [nested member
          field resource]() accepts.
      - required: false
        schema:
          default: displayName
          type: string
        in: query
        name: organization_fields
        description: Any valid value that the [nested organization field resource](https://developers.trello.com/v1.0/reference#organizations-nested-resource)
          accepts.
      - required: false
        schema:
          default: name
          type: string
        in: query
        name: board_fields
        description: Any valid value that the [nested board resource](https://developers.trello.com/v1.0/reference#boards-nested-resource)
          accepts.
      _path: /enterprises/{id}/members/{idMember}
      operationId: getEnterprisesMembersByMember
      description: Get a specific member of an enterprise by ID.
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/members/{idMember}/all:
    delete:
      summary: /organizations/{id}/members/{idMember}/all
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The ID of the member to remove from the team
      _path: /organizations/{id}/members/{idMember}/all
      operationId: deleteOrganizationsMembersAllByMember
      description: Remove a member from a team and from all team boards
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/boards:
    get:
      summary: /organizations/{id}/boards
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: filter
        description: ! '`all` or a comma-separated list of: `open`, `closed`, `members`,
          `organization`, `public`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of board [fields](ref:board-object)'
      _path: /organizations/{id}/boards
      operationId: getOrganizationsBoards
      description: List the boards in a team
      requestBody: null
      tags: []
      deprecated: false
  /boards/{id}/myPrefs/showSidebarActivity:
    put:
      summary: /boards/{id}/myPrefs/showSidebarActivity
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id of the board to update
      - required: true
        schema:
          type: boolean
        in: query
        name: value
        description: Determines whether to show sidebar activity.
      _path: /boards/{id}/myPrefs/showSidebarActivity
      operationId: putBoardsMyprefsShowsidebaractivity
      description: Update an existing board by id
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/{field}:
    get:
      summary: /organizations/{id}/{field}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: field
        description: An organization [field](ref:organization-object)
      _path: /organizations/{id}/{field}
      operationId: getOrganizationsByField
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /webhooks/:
    post:
      summary: /webhooks
      _method: post
      parameters:
      - required: false
        schema:
          type: string
        in: query
        name: description
        description: A string with a length from `0` to `16384`.
      - required: true
        schema:
          type: string
        in: query
        name: callbackURL
        description: A valid URL that is reachable with a `HEAD` and `POST` request.
      - required: true
        schema:
          type: string
        in: query
        name: idModel
        description: ID of the model to be monitored
      - required: false
        schema:
          type: boolean
        in: query
        name: active
        description: Determines whether the webhook is active and sending `POST` requests.
      _path: /webhooks/
      operationId: postWebhooks
      description: Create a new webhook.
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/membersVoted/{idMember}:
    delete:
      summary: /cards/{id}/membersVoted/{idMember}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The ID of the member whose vote to remove
      _path: /cards/{id}/membersVoted/{idMember}
      operationId: deleteCardsMembersvotedByMember
      description: Remove a member's vote from a card
      requestBody: null
      tags: []
      deprecated: false
  /notifications/{id}/board:
    get:
      summary: /notifications/{id}/board
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the notification
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of board[fields](ref:board-object)'
      _path: /notifications/{id}/board
      operationId: getNotificationsBoard
      description: Get the board a notification is associated with
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}:
    get:
      summary: /members/{id}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: false
        schema:
          type: string
        in: query
        name: actions
        description: See the [Actions Nested Resource](ref:actions-nested-resource)
      - required: false
        schema:
          type: string
        in: query
        name: boards
        description: See the [Boards Nested Resource](ref:section-objectidboardsopen)
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: boardBackgrounds
        description: ! 'One of: `all`, `custom`, `default`, `none`, `premium`'
      - required: false
        schema:
          type: string
        in: query
        name: boardsInvited
        description: ! '`all` or a comma-separated list of: closed, members, open,
          organization, pinned, public, starred, unpinned'
      - required: false
        schema:
          default: name,closed,idOrganization,pinned
          type: string
        in: query
        name: boardsInvited_fields
        description: ! '`all` or a comma-separated list of board [fields](ref:board-object)'
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: boardStars
        description: ''
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: cards
        description: See the [Cards Nested Resource](ref:cards-nested-resource) for
          additional options
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: customBoardBackgrounds
        description: ! '`all` or `none`'
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: customEmoji
        description: ! '`all` or `none`'
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: customStickers
        description: ! '`all` or `none`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of member [fields](ref:member-object)'
      - required: false
        schema:
          type: string
        in: query
        name: notifications
        description: See the [Notifications Nested Resource](ref:section-objectidnotificationsall)
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: organizations
        description: ! 'One of: `all`, `members`, `none`, `public`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: organization_fields
        description: ! '`all` or a comma-separated list of organization [fields](ref:organization-object)'
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: organization_paid_account
        description: ''
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: organizationsInvited
        description: ! 'One of: `all`, `members`, `none`, `public`'
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: organizationsInvited_fields
        description: ! '`all` or a comma-separated list of organization [fields](ref:organization-object)'
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: paid_account
        description: ''
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: savedSearches
        description: ''
      - required: false
        schema:
          default: none
          type: string
        in: query
        name: tokens
        description: ! '`all` or `none`'
      _path: /members/{id}
      operationId: getMembers
      description: Get a member
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /members/{id}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: false
        schema:
          type: string
        in: query
        name: fullName
        description: New name for the member. Cannot begin or end with a space.
      - required: false
        schema:
          type: string
        in: query
        name: initials
        description: New initials for the member. 1-4 characters long.
      - required: false
        schema:
          type: string
        in: query
        name: username
        description: New username for the member. At least 3 characters long, only
          lowercase letters, underscores, and numbers. Must be unique.
      - required: false
        schema:
          type: string
        in: query
        name: bio
        description: ''
      - required: false
        schema:
          type: string
        in: query
        name: avatarSource
        description: ! 'One of: `gravatar`, `none`, `upload`'
      - required: false
        schema:
          type: boolean
        in: query
        name: prefs/colorBlind
        description: ''
      - required: false
        schema:
          type: string
        in: query
        name: prefs/locale
        description: ''
      - required: false
        schema:
          format: int32
          type: integer
        in: query
        name: prefs/minutesBetweenSummaries
        description: ! '`-1` for disabled, `1`, or `60`'
      _path: /members/{id}
      operationId: putMembers
      description: Update a member
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/savedSearches/{idSearch}:
    get:
      summary: /members/{id}/savedSearches/{idSearch}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: path
        name: idSearch
        description: The ID of the search
      _path: /members/{id}/savedSearches/{idSearch}
      operationId: getMembersSavedsearchesBySearch
      description: Get a saved search
      requestBody: null
      tags: []
      deprecated: false
    delete:
      summary: /members/{id}/savedSearches/{idSearch}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: path
        name: idSearch
        description: The ID of the saved search to delete
      _path: /members/{id}/savedSearches/{idSearch}
      operationId: deleteMembersSavedsearchesBySearch
      description: Delete a saved search
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /members/{id}/savedSearches/{idSearch}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: path
        name: idSearch
        description: The ID of the search
      - required: false
        schema:
          type: string
        in: query
        name: name
        description: The new name for the saved search
      - required: false
        schema:
          type: string
        in: query
        name: query
        description: The new search query
      - required: false
        schema:
          type: string
        in: query
        name: pos
        description: New position for saves search. `top`, `bottom`, or a positive
          float.
      _path: /members/{id}/savedSearches/{idSearch}
      operationId: putMembersSavedsearchesBySearch
      description: Update a saved search
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/customEmoji/{idEmoji}:
    get:
      summary: /members/{id}/customEmoji/{idEmoji}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: path
        name: idEmoji
        description: The ID of the custom emoji
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: fields
        description: ! '`all` or a comma-separated list of `name`, `url`'
      _path: /members/{id}/customEmoji/{idEmoji}
      operationId: getMembersCustomemojiByEmoji
      description: Get a custom emoji
      requestBody: null
      tags: []
      deprecated: false
  /cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}:
    put:
      summary: /cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: idCard
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idCheckItem
        description: The ID of the checklist item to update
      - required: false
        schema:
          type: string
        in: query
        name: pos
        description: ! '`top`, `bottom`, or a positive float'
      - required: true
        schema:
          type: string
        in: path
        name: idChecklist
        description: The ID of the item to update.
      _path: /cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}
      operationId: putCardsChecklistCheckitemByCardCheckitemChecklist
      description: Update an item in a checklist on a card.
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/members/{idMember}:
    delete:
      summary: /organizations/{id}/members/{idMember}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The ID of the member to remove from the team
      _path: /organizations/{id}/members/{idMember}
      operationId: deleteOrganizationsMembersByMember
      description: Remove a member from a team
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /organizations/{id}/members/{idMember}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: idMember
        description: The ID or username of the member to update
      - required: true
        schema:
          type: string
        in: query
        name: type
        description: ! 'One of: `admin`, `normal`'
      _path: /organizations/{id}/members/{idMember}
      operationId: putOrganizationsMembersByMember
      description: Add a member to a team or update their member type.
      requestBody: null
      tags: []
      deprecated: false
  /checklists/{id}/checkItems:
    post:
      summary: /checklists/{id}/checkItems
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      - required: true
        schema:
          type: string
        in: query
        name: name
        description: The name of the new check item on the checklist. Should be a
          string of length 1 to 16384.
      - required: false
        schema:
          default: bottom
          type: string
        in: query
        name: pos
        description: ! 'The position of the check item in the checklist. One of: `top`,
          `bottom`, or a positive number.'
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: checked
        description: Determines whether the check item is already checked when created.
      _path: /checklists/{id}/checkItems
      operationId: postChecklistsCheckitems
      description: ''
      requestBody: null
      tags: []
      deprecated: false
    get:
      summary: /checklists/{id}/checkItems
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: ID of a checklist.
      - required: false
        schema:
          default: all
          type: string
        in: query
        name: filter
        description: ! 'One of: `all`, `none`.'
      - required: false
        schema:
          default: name, nameData, pos, state
          type: string
        in: query
        name: fields
        description: ! 'One of: `all`, `name`, `nameData`, `pos`, `state`, `type`.'
      _path: /checklists/{id}/checkItems
      operationId: getChecklistsCheckitems
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/memberships/{idMembership}:
    get:
      summary: /organizations/{id}/memberships/{idMembership}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: idMembership
        description: The ID of the membership to load
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: member
        description: Whether to include the member object in the response
      _path: /organizations/{id}/memberships/{idMembership}
      operationId: getOrganizationsMembershipsByMembership
      description: List the memberships of a team
      requestBody: null
      tags: []
      deprecated: false
  /notifications/{id}/unread:
    put:
      summary: /notifications/{id}/unread
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the notification
      - required: false
        schema:
          type: boolean
        in: query
        name: value
        description: ''
      _path: /notifications/{id}/unread
      operationId: putNotificationsUnread
      description: Update the read status of a notification
      requestBody: null
      tags: []
      deprecated: false
  /members/{id}/{field}:
    get:
      summary: /members/{id}/{field}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or username of the member
      - required: true
        schema:
          type: string
        in: path
        name: field
        description: One of the member [fields](ref:member-object)
      _path: /members/{id}/{field}
      operationId: getMembersByField
      description: Get a particular property of a member
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/actions/{idAction}/comments:
    delete:
      summary: /cards/{id}/actions/{idAction}/comments
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idAction
        description: The ID of the comment action
      _path: /cards/{id}/actions/{idAction}/comments
      operationId: deleteCardsActionsCommentsByAction
      description: Delete a comment
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /cards/{id}/actions/{idAction}/comments
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: path
        name: idAction
        description: The ID of the comment action to update
      - required: true
        schema:
          type: string
        in: query
        name: text
        description: The new text for the comment
      _path: /cards/{id}/actions/{idAction}/comments
      operationId: putCardsActionsCommentsByAction
      description: Update an existing comment
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/idLabels:
    post:
      summary: /cards/{id}/idLabels
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: false
        schema:
          type: string
        in: query
        name: value
        description: The ID of the label to add
      _path: /cards/{id}/idLabels
      operationId: postCardsIdlabels
      description: Add a label to a card
      requestBody: null
      tags: []
      deprecated: false
  /actions/{id}/display:
    get:
      summary: /actions/{id}/display
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: object
                    properties:
                      card:
                        type: object
                        properties:
                          text:
                            type: string
                          shortLink:
                            type: string
                          id:
                            type: string
                          type:
                            type: string
                      list:
                        type: object
                        properties:
                          text:
                            type: string
                          id:
                            type: string
                          type:
                            type: string
                      memberCreator:
                        type: object
                        properties:
                          text:
                            type: string
                          username:
                            type: string
                          id:
                            type: string
                          type:
                            type: string
                  translationKey:
                    type: string
          description: OK
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the action
      _path: /actions/{id}/display
      operationId: getActionsDisplay
      description: Get the display information for an action.
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}/tags/{idTag}:
    delete:
      summary: /organizations/{id}/tags/{idTag}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      - required: true
        schema:
          type: string
        in: path
        name: idTag
        description: The ID of the tag to delete
      _path: /organizations/{id}/tags/{idTag}
      operationId: deleteOrganizationsTagsByTag
      description: Delete an organization's tag
      requestBody: null
      tags: []
      deprecated: false
  /emoji:
    get:
      summary: /emoji
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  trello:
                    items:
                      type: object
                      properties:
                        sheetX:
                          type: integer
                        shortName:
                          type: string
                        skinVariations:
                          type: object
                          properties:
                            1F3FE:
                              type: object
                              properties:
                                sheetX:
                                  type: integer
                                native:
                                  type: string
                                unified:
                                  type: string
                                sheetY:
                                  type: integer
                            1F3FB:
                              type: object
                              properties:
                                sheetX:
                                  type: integer
                                native:
                                  type: string
                                unified:
                                  type: string
                                sheetY:
                                  type: integer
                            1F3FC:
                              type: object
                              properties:
                                sheetX:
                                  type: integer
                                native:
                                  type: string
                                unified:
                                  type: string
                                sheetY:
                                  type: integer
                            1F3FF:
                              type: object
                              properties:
                                sheetX:
                                  type: integer
                                native:
                                  type: string
                                unified:
                                  type: string
                                sheetY:
                                  type: integer
                            1F3FD:
                              type: object
                              properties:
                                sheetX:
                                  type: integer
                                native:
                                  type: string
                                unified:
                                  type: string
                                sheetY:
                                  type: integer
                        text:
                          nullable: true
                        category:
                          type: string
                        native:
                          type: string
                        unified:
                          type: string
                        name:
                          type: string
                        keywords:
                          items:
                            type: string
                          type: array
                        tts:
                          type: string
                        texts:
                          nullable: true
                        sheetY:
                          type: integer
                        shortNames:
                          items:
                            type: string
                          type: array
                    type: array
          description: OK
      _method: get
      parameters:
      - required: false
        schema:
          type: string
        in: query
        name: locale
        description: The locale to return emoji descriptions and names in. Defaults
          to the logged in member's locale.
      - required: false
        schema:
          default: false
          type: boolean
        in: query
        name: spritesheets
        description: ! '`true` to return spritesheet URLs in the response'
      _path: /emoji
      operationId: getEmoji
      security: []
      description: List available emoji
      requestBody: null
      tags: []
      deprecated: false
  /batch:
    get:
      summary: /batch
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: query
        name: urls
        description: A list of API routes. Maximum of 10 routes allowed. The routes
          should begin with a forward slash and should not include the API version
          number - e.g. "urls=/members/trello,/cards/[cardId]"
      _path: /batch
      operationId: getBatch
      description: ''
      requestBody: null
      tags: []
      deprecated: false
  /organizations/{id}:
    get:
      summary: /organizations/{id}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      _path: /organizations/{id}
      operationId: getOrganizations
      description: ''
      requestBody: null
      tags: []
      deprecated: false
    delete:
      summary: /organizations/{id}
      _method: delete
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID or name of the organization
      _path: /organizations/{id}
      operationId: deleteOrganizations
      description: Delete a team
      requestBody: null
      tags: []
      deprecated: false
    put:
      summary: /organizations/{id}
      _method: put
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The id or name of the organization to update
      - required: false
        schema:
          type: string
        in: query
        name: name
        description: A new name for the organization. At least 3 lowercase letters,
          underscores, and numbers. Must be unique
      - required: false
        schema:
          type: string
        in: query
        name: displayName
        description: A new displayName for the organization. Must be at least 1 character
          long and not begin or end with a space.
      - required: false
        schema:
          type: string
        in: query
        name: desc
        description: A new description for the organization
      - required: false
        schema:
          type: string
        in: query
        name: website
        description: A URL starting with `http://`, `https://`, or `null`
      - required: false
        schema:
          type: string
        in: query
        name: prefs/associatedDomain
        description: The Google Apps domain to link this org to.
      - required: false
        schema:
          type: boolean
        in: query
        name: prefs/externalMembersDisabled
        description: Whether non-team members can be added to boards inside the team
      - required: false
        schema:
          format: int32
          type: integer
        in: query
        name: prefs/googleAppsVersion
        description: ! '`1` or `2`'
      - required: false
        schema:
          type: string
        in: query
        name: prefs/boardVisibilityRestrict/org
        description: Who on the team can make team visible boards. One of `admin`,
          `none`, `org`
      - required: false
        schema:
          type: string
        in: query
        name: prefs/boardVisibilityRestrict/private
        description: ! 'Who can make private boards. One of: `admin`, `none`, `org`'
      - required: false
        schema:
          type: string
        in: query
        name: prefs/boardVisibilityRestrict/public
        description: ! 'Who on the team can make public boards. One of: `admin`, `none`,
          `org`'
      - required: false
        schema:
          type: string
        in: query
        name: prefs/orgInviteRestrict
        description: An email address with optional wildcard characters. (E.g. `subdomain.*.trello.com`)
      - required: false
        schema:
          type: string
        in: query
        name: prefs/permissionLevel
        description: ! 'Whether the team page is publicly visible. One of: `private`,
          `public`'
      _path: /organizations/{id}
      operationId: putOrganizations
      description: Update an organization
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/actions:
    get:
      summary: /cards/{id}/actions
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      _path: /cards/{id}/actions
      operationId: getCardsActions
      description: List the actions on a card
      requestBody: null
      tags: []
      deprecated: false
  /notifications/{id}/{field}:
    get:
      summary: /notifications/{id}/{field}
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the notification
      - required: true
        schema:
          type: string
        in: path
        name: field
        description: A notification [field](ref:notifcation-object)
      _path: /notifications/{id}/{field}
      operationId: getNotificationsByField
      description: Get a specific property of a notification
      requestBody: null
      tags: []
      deprecated: false
  /cards/{id}/labels:
    post:
      summary: /cards/{id}/labels
      _method: post
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the card
      - required: true
        schema:
          type: string
        in: query
        name: color
        description: A valid label color or `null`. See [labels](ref:label-object)
      - required: false
        schema:
          type: string
        in: query
        name: name
        description: A name for the label
      _path: /cards/{id}/labels
      operationId: postCardsLabels
      description: Add a new label to a card
      requestBody: null
      tags: []
      deprecated: false
  /notifications/{id}/card:
    get:
      summary: /notifications/{id}/card
      _method: get
      parameters:
      - required: true
        schema:
          type: string
        in: path
        name: id
        description: The ID of the notification
      - required: false
        schema:
          default: all
[...]
